html,
body {
    width         : 100%;
    height        : 100%;
    margin        : 0 auto;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    background    : #850000;
    font-family   : 'Courier New', Courier, monospace;
}

div.app-div {
    margin         : 0 auto;
    display        : flex;
    align-items    : center;
    justify-content: center;
    max-width      : 750px;
}

.main-section {
    flex-direction: column;
    width         : 100%;
    height        : 500px;
    min-height    : 500px;
    margin        : 0 auto;
    background    : #fff;
}

div.app-div input {
    width: 100px;
}

.queries {
    color             : #fff !important;
    /* justify-content: right !important; */
    width             : 100%;
    font-size         : 0.8em;
    flex-flow         : column;
    align-items       : flex-end !important;
}

.queries a {
    color: #c1ffd7;
}

.config-section {
    width         : 100%;
    flex-direction: column;
}

.row {
    flex   : 100%;
    width  : 50%;
    padding: 5px;
}

.column {
    flex: 50%;
}

.column-1 {
    /* justify-content: left !important; */
    flex-flow  : column;
    align-items: flex-start !important;
}

.column-2 {
    flex: 10px;
}


.column-3 {
    /* justify-content: right !important; */
    flex-flow  : column;
    align-items: flex-end !important;
}

#dropZone {
    color     : #000;
    width     : 30%;
    cursor    : pointer;
    margin    : 0 auto;
    margin-top: 30px;
    text-align: center;
}

#dropZone>p {
    border        : dashed #d9d9d9;
    padding       : 25%;
    text-transform: uppercase;
    font-size     : 1.5em;
}

.ui-timepicker-standard {
    font-family: inherit !important;
    font-size  : inherit !important;
}